@charset "UTF-8";
/* line 1, ../scss/sass/main/_all.scss */
#preloader {
  background: #151515;
  height: 100%;
  width: 100%;
  z-index: 999999;
  position: fixed;
}

/* line 2, ../scss/sass/main/_all.scss */
#preloader .container {
  height: auto;
}

/* line 4, ../scss/sass/main/_all.scss */
.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 auto;
}

/* line 6, ../scss/sass/main/_all.scss */
.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #05274c;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

/* line 8, ../scss/sass/main/_all.scss */
.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
/* line 16, ../scss/sass/main/_all.scss */
.cl_yellow {
  color: #05274c;
}

/* line 19, ../scss/sass/main/_all.scss */
.cl_white {
  color: #fff;
}

/* line 23, ../scss/sass/main/_all.scss */
.font_bold {
  font-weight: 900;
}

/* line 26, ../scss/sass/main/_all.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 29, ../scss/sass/main/_all.scss */
.button {
  padding: 10px 40px;
  border-radius: 25px;
  opacity: 0.95;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 36, ../scss/sass/main/_all.scss */
.button:hover {
  opacity: 1;
  padding: 10px 45px;
}
/* line 41, ../scss/sass/main/_all.scss */
.button__wrap {
  margin: 40px auto;
}
/* line 44, ../scss/sass/main/_all.scss */
.button__1 {
  background: rgba(254, 132, 9, 0.7);
}
/* line 47, ../scss/sass/main/_all.scss */
.button__2 {
  background: rgba(0, 176, 255, 0.7);
}
/* line 50, ../scss/sass/main/_all.scss */
.button__3 {
  background: #cf2906;
}

/* line 57, ../scss/sass/main/_all.scss */
.list li {
  display: list-item;
  list-style: disc;
  margin-left: 20px;
  padding-left: 10px;
}
/* line 64, ../scss/sass/main/_all.scss */
.list ol {
  list-style: decimal;
}
/* line 67, ../scss/sass/main/_all.scss */
.list ol li {
  list-style: decimal;
}

/* line 74, ../scss/sass/main/_all.scss */
.link a {
  text-decoration: underline;
  font-weight: bold;
  color: #ffab00;
}

/* line 83, ../scss/sass/main/_all.scss */
.btn__readmore {
  padding: 10px 20px;
  border: 1px solid #fff;
  font-size: 13px;
  display: inline-block;
}
/* line 89, ../scss/sass/main/_all.scss */
.btn__readmore__2 {
  border: 1px solid #000;
}

/* line 1, ../scss/sass/main/_global.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../scss/sass/main/_global.scss */
html {
  margin: 0;
  padding: 0;
}

/* line 10, ../scss/sass/main/_global.scss */
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  line-height: 1.3;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  height: 100%;
  background-position: 0px 80px;
  background-size: 100%;
}

/* line 26, ../scss/sass/main/_global.scss */
html, body {
  height: 100%;
  width: 100%;
}

/* line 30, ../scss/sass/main/_global.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/* line 42, ../scss/sass/main/_global.scss */
a {
  color: inherit;
  text-decoration: none;
  vertical-align: top;
  outline: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 48, ../scss/sass/main/_global.scss */
a:hover {
  text-decoration: underline;
}

/* line 53, ../scss/sass/main/_global.scss */
a:focus,
button:focus {
  outline: 0;
  outline: -webkit-focus-ring-color auto 0;
  outline-offset: 0;
}

/* line 59, ../scss/sass/main/_global.scss */
img {
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 67, ../scss/sass/main/_global.scss */
table {
  border-collapse: collapse;
}

/* line 70, ../scss/sass/main/_global.scss */
iframe {
  border: none;
  vertical-align: top;
}

/* line 74, ../scss/sass/main/_global.scss */
li, ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 79, ../scss/sass/main/_global.scss */
ul li {
  display: inline-block;
  list-style: none;
  vertical-align: top;
}

/* line 85, ../scss/sass/main/_global.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.2;
  color: inherit;
  text-rendering: optimizelegibility;
}

/* line 92, ../scss/sass/main/_global.scss */
h1, h2, h3 {
  line-height: 1.3;
}

/* line 96, ../scss/sass/main/_global.scss */
h1 {
  font-size: 2.5em;
}

/* line 97, ../scss/sass/main/_global.scss */
h2 {
  font-size: 2em;
}

/* line 98, ../scss/sass/main/_global.scss */
h3 {
  font-size: 1.2857em;
}

/* line 99, ../scss/sass/main/_global.scss */
h4 {
  font-size: 1em;
}

/* line 100, ../scss/sass/main/_global.scss */
h5 {
  font-size: .9375em;
}

/* line 101, ../scss/sass/main/_global.scss */
h6 {
  font-size: .786em;
}

/* line 102, ../scss/sass/main/_global.scss */
p {
  line-height: 1.5;
  margin: 3px 0 15px;
}

/*ΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôLAYOUTΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇô*/
/* line 5, ../scss/sass/main/_grid.scss */
body [class*=col]:first-child {
  margin-left: 0;
}

/* line 7, ../scss/sass/main/_grid.scss */
.col-x {
  width: auto;
}

/* line 9, ../scss/sass/main/_grid.scss */
.container {
  margin: 0 auto;
  padding: 0 10px;
  *zoom: 1;
}
/* line 13, ../scss/sass/main/_grid.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 19, ../scss/sass/main/_grid.scss */
.container__modal {
  background: #fff;
  color: #000;
  padding: 20px;
  height: 450px;
  overflow-y: auto;
}

/* line 34, ../scss/sass/main/_grid.scss */
.clearfix,
.row {
  clear: both;
}
/* line 37, ../scss/sass/main/_grid.scss */
.clearfix:after, .clearfix:before,
.row:after,
.row:before {
  display: table;
  content: "";
  line-height: 0;
}
/* line 43, ../scss/sass/main/_grid.scss */
.clearfix:after,
.row:after {
  clear: both;
}

/* line 47, ../scss/sass/main/_grid.scss */
.clearfix {
  clear: both;
}

/*ΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôUtilitiesΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇôΓÇô*/
/* line 2, ../scss/sass/main/_utilities.scss */
.display-table {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

/* line 11, ../scss/sass/main/_utilities.scss */
.display-center {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

/* line 22, ../scss/sass/main/_utilities.scss */
.imgfill, .slider img, .section__news__img img, .section__news__photo img, .section__feature__right img, .photo img {
  width: 100%;
  height: 100%;
  object-position: 50% 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

/* line 30, ../scss/sass/main/_utilities.scss */
.center-text {
  text-align: center;
}

/* line 33, ../scss/sass/main/_utilities.scss */
.center-modul {
  float: none;
}

/* line 36, ../scss/sass/main/_utilities.scss */
.middle {
  display: table-cell;
  vertical-align: middle;
}

/* line 40, ../scss/sass/main/_utilities.scss */
.top {
  display: table-cell;
  vertical-align: top;
}

/* line 44, ../scss/sass/main/_utilities.scss */
.bottom {
  display: table-cell;
  vertical-align: bottom;
}

/* line 49, ../scss/sass/main/_utilities.scss */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 54, ../scss/sass/main/_utilities.scss */
.hide {
  display: none !important;
}

/* line 57, ../scss/sass/main/_utilities.scss */
.show {
  display: block;
}

/* line 60, ../scss/sass/main/_utilities.scss */
.invisible {
  visibility: hidden;
}

/* line 63, ../scss/sass/main/_utilities.scss */
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* line 70, ../scss/sass/main/_utilities.scss */
.affix {
  position: fixed;
}

/* line 74, ../scss/sass/main/_utilities.scss */
.d_table {
  display: table;
}

/* line 75, ../scss/sass/main/_utilities.scss */
.d_block {
  display: block;
}

/* line 78, ../scss/sass/main/_utilities.scss */
.right {
  float: right;
}

/* line 79, ../scss/sass/main/_utilities.scss */
.left {
  float: left;
}

/* line 82, ../scss/sass/main/_utilities.scss */
.text-left {
  text-align: left !important;
}

/* line 83, ../scss/sass/main/_utilities.scss */
.text-right {
  text-align: right !important;
}

/* line 84, ../scss/sass/main/_utilities.scss */
.text-center {
  text-align: center !important;
}

/* line 87, ../scss/sass/main/_utilities.scss */
.m_auto {
  margin: 0 auto !important;
}

/* line 88, ../scss/sass/main/_utilities.scss */
.mt1 {
  margin-top: 10px !important;
}

/* line 89, ../scss/sass/main/_utilities.scss */
.mb1 {
  margin-bottom: 10px !important;
}

/* line 90, ../scss/sass/main/_utilities.scss */
.mr1 {
  margin-right: 10px !important;
}

/* line 91, ../scss/sass/main/_utilities.scss */
.ml1 {
  margin-left: 10px !important;
}

/* line 92, ../scss/sass/main/_utilities.scss */
.pt1 {
  padding-top: 10px !important;
}

/* line 93, ../scss/sass/main/_utilities.scss */
.pb1 {
  padding-bottom: 10px !important;
}

/* line 94, ../scss/sass/main/_utilities.scss */
.pr1 {
  padding-right: 10px !important;
}

/* line 95, ../scss/sass/main/_utilities.scss */
.pl1 {
  padding-left: 10px !important;
}

/* line 96, ../scss/sass/main/_utilities.scss */
.mt2 {
  margin-top: 20px !important;
}

/* line 97, ../scss/sass/main/_utilities.scss */
.mt4 {
  margin-top: 40px !important;
}

/* line 98, ../scss/sass/main/_utilities.scss */
.mb2 {
  margin-bottom: 20px !important;
}

/* line 99, ../scss/sass/main/_utilities.scss */
.mr2 {
  margin-right: 20px !important;
}

/* line 100, ../scss/sass/main/_utilities.scss */
.ml2 {
  margin-left: 20px !important;
}

/* line 101, ../scss/sass/main/_utilities.scss */
.pt2 {
  padding-top: 20px !important;
}

/* line 102, ../scss/sass/main/_utilities.scss */
.pb2 {
  padding-bottom: 20px !important;
}

/* line 103, ../scss/sass/main/_utilities.scss */
.pr2 {
  padding-right: 20px !important;
}

/* line 104, ../scss/sass/main/_utilities.scss */
.pl2 {
  padding-left: 20px !important;
}

/* line 105, ../scss/sass/main/_utilities.scss */
.bolt {
  font-weight: bold;
}

/* line 106, ../scss/sass/main/_utilities.scss */
.pt4 {
  padding-top: 40px !important;
}

/* line 107, ../scss/sass/main/_utilities.scss */
.pb4 {
  padding-bottom: 40px !important;
}

/* line 108, ../scss/sass/main/_utilities.scss */
.mt5 {
  margin-top: 50px !important;
}

/* line 110, ../scss/sass/main/_utilities.scss */
.offset {
  padding: 0 !important;
}

/* line 113, ../scss/sass/main/_utilities.scss */
.offset-10 {
  padding: 0 10px !important;
}

/* line 116, ../scss/sass/main/_utilities.scss */
.offset-25 {
  padding: 0 25 !important;
}

/* line 121, ../scss/sass/main/_utilities.scss */
.parallax {
  width: 100%;
  position: absolute;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  background-attachment: fixed;
}

/* line 1, ../scss/sass/main/_header.scss */
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
/* line 8, ../scss/sass/main/_header.scss */
.header__logo {
  width: 300px;
  background: #000;
  margin-left: 75px !important;
  padding: 15px;
}
@media (max-width: 768px) {
  /* line 8, ../scss/sass/main/_header.scss */
  .header__logo {
    width: 120px;
    padding: 15px;
    background: #000;
    margin-left: 10px !important;
  }
}
/* line 22, ../scss/sass/main/_header.scss */
.header__menu {
  margin-top: 28px;
  margin-right: 28px;
}
@media (max-width: 768px) {
  /* line 22, ../scss/sass/main/_header.scss */
  .header__menu {
    margin-top: 5px;
    margin-right: 5px;
  }
}
/* line 31, ../scss/sass/main/_header.scss */
.header__menu > div {
  display: inline-block;
  background: #000;
  padding: 13px;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
@media (max-width: 768px) {
  /* line 31, ../scss/sass/main/_header.scss */
  .header__menu > div {
    padding: 7px 10px 10px 10px;
    width: 40px;
    cursor: pointer;
    height: 40px;
  }
}
/* line 50, ../scss/sass/main/_header.scss */
.header__menu__overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}
/* line 59, ../scss/sass/main/_header.scss */
.header__menu__overlay.open {
  display: block;
}
/* line 64, ../scss/sass/main/_header.scss */
.header__menu__list {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 9999;
  position: fixed;
  width: 300px;
  height: 100%;
  right: -301px;
  top: 0;
  background: #000;
  padding: 20px;
  text-align: right;
}
@media (max-width: 768px) {
  /* line 64, ../scss/sass/main/_header.scss */
  .header__menu__list {
    width: 200px;
  }
}
/* line 79, ../scss/sass/main/_header.scss */
.header__menu__list.open {
  right: 0;
}
/* line 83, ../scss/sass/main/_header.scss */
.header__menu__list .menu__close {
  float: left;
  font-weight: normal;
}
/* line 87, ../scss/sass/main/_header.scss */
.header__menu__list h3 {
  margin-bottom: 20px;
}
/* line 92, ../scss/sass/main/_header.scss */
.header__menu__list ul li {
  display: list-item;
  margin: 10px 0;
}
@media (max-width: 768px) {
  /* line 92, ../scss/sass/main/_header.scss */
  .header__menu__list ul li {
    font-size: 15px;
  }
}
/* line 105, ../scss/sass/main/_header.scss */
.header__search {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.95);
  display: flex;
  align-items: center;
  text-align: center;
  display: none;
  z-index: 999;
}
/* line 119, ../scss/sass/main/_header.scss */
.header__search input {
  width: 50%;
  background: none;
  color: #fff;
  padding: 20px;
  font-size: 18px;
  border: none;
  border-bottom: 2px solid #c5c5c5;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 768px) {
  /* line 119, ../scss/sass/main/_header.scss */
  .header__search input {
    width: 75%;
    padding: 20px 10px;
  }
}
/* line 133, ../scss/sass/main/_header.scss */
.header__search button {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  top: 10px;
}
@media (max-width: 768px) {
  /* line 140, ../scss/sass/main/_header.scss */
  .header__search button img {
    width: 40px;
  }
}
/* line 147, ../scss/sass/main/_header.scss */
.header__search.open {
  display: flex;
}
/* line 151, ../scss/sass/main/_header.scss */
.header__search__close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
}
@media (max-width: 768px) {
  /* line 151, ../scss/sass/main/_header.scss */
  .header__search__close {
    font-size: 20px;
  }
}

/* line 1, ../scss/sass/main/_main.scss */
.slider {
  height: 80vh;
  width: 100%;
  overflow: hidden;
  color: #fff;
  position: relative;
  margin: 0 auto !important;
}
@media (max-width: 768px) {
  /* line 1, ../scss/sass/main/_main.scss */
  .slider {
    height: 100vh;
  }
}
/* line 11, ../scss/sass/main/_main.scss */
.slider .slick-list {
  height: 100%;
}
/* line 14, ../scss/sass/main/_main.scss */
.slider .slick-track {
  height: 100%;
}
/* line 17, ../scss/sass/main/_main.scss */
.slider .slick-dots {
  text-align: center;
  left: 0;
}
@media (max-width: 768px) {
  /* line 17, ../scss/sass/main/_main.scss */
  .slider .slick-dots {
    text-align: right;
    left: 0;
    bottom: 10px;
  }
}
/* line 26, ../scss/sass/main/_main.scss */
.slider img {
  width: 100%;
}
/* line 31, ../scss/sass/main/_main.scss */
.slider .container {
  position: relative;
}
/* line 35, ../scss/sass/main/_main.scss */
.slider .itemslider {
  height: 100%;
  width: 100%;
}
/* line 40, ../scss/sass/main/_main.scss */
.slider__naration {
  background: rgba(0, 0, 0, 0.8);
  padding: 40px;
  position: absolute;
  bottom: 0;
  width: 450px;
  right: 0;
}
@media (max-width: 768px) {
  /* line 40, ../scss/sass/main/_main.scss */
  .slider__naration {
    padding: 20px;
    width: 100%;
  }
}
/* line 53, ../scss/sass/main/_main.scss */
.slider__naration h3 {
  font-size: 32px;
  text-transform: uppercase;
  line-height: 38px;
  max-height: 155px;
  overflow: hidden;
}
@media (max-width: 768px) {
  /* line 53, ../scss/sass/main/_main.scss */
  .slider__naration h3 {
    margin-bottom: 15px;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 25px;
    max-height: 100px;
    overflow: hidden;
    min-height: 100px;
  }
}
/* line 70, ../scss/sass/main/_main.scss */
.slider__naration p {
  font-size: 13px;
  margin: 10px auto;
}
@media (max-width: 768px) {
  /* line 70, ../scss/sass/main/_main.scss */
  .slider__naration p {
    display: none;
  }
}

/* line 81, ../scss/sass/main/_main.scss */
.logoclient {
  background: #5d5d5d;
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  /* line 81, ../scss/sass/main/_main.scss */
  .logoclient {
    height: 100px;
  }
}
/* line 92, ../scss/sass/main/_main.scss */
.logoclient ul {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
}
/* line 99, ../scss/sass/main/_main.scss */
.logoclient ul li img {
  max-width: 65%;
}
@media (max-width: 768px) {
  /* line 99, ../scss/sass/main/_main.scss */
  .logoclient ul li img {
    max-width: 100%;
  }
}

/* line 110, ../scss/sass/main/_main.scss */
.section {
  padding: 75px 0;
}
@media (max-width: 768px) {
  /* line 110, ../scss/sass/main/_main.scss */
  .section {
    padding: 5px 0;
  }
}
/* line 118, ../scss/sass/main/_main.scss */
.section__news ul {
  display: flex;
  flex-wrap: nowrap;
}
@media (max-width: 768px) {
  /* line 118, ../scss/sass/main/_main.scss */
  .section__news ul {
    flex-wrap: wrap;
  }
}
/* line 126, ../scss/sass/main/_main.scss */
.section__news ul li {
  padding: 15px;
  position: relative;
  display: inline-table;
  width: 34%;
}
@media (max-width: 768px) {
  /* line 126, ../scss/sass/main/_main.scss */
  .section__news ul li {
    padding: 10px 0;
    width: 100%;
  }
}
/* line 139, ../scss/sass/main/_main.scss */
.section__news__img {
  height: 200px;
  overflow: hidden;
}
@media (max-width: 768px) {
  /* line 139, ../scss/sass/main/_main.scss */
  .section__news__img {
    height: 135px;
  }
}
/* line 150, ../scss/sass/main/_main.scss */
.section__news__text {
  background: #000;
  padding: 10px 25px;
  min-height: 235px;
}
@media (max-width: 768px) {
  /* line 150, ../scss/sass/main/_main.scss */
  .section__news__text {
    min-height: 120px;
    padding: 10px 15px;
  }
}
/* line 160, ../scss/sass/main/_main.scss */
.section__news__text small {
  font-size: 10px;
}
/* line 163, ../scss/sass/main/_main.scss */
.section__news__text h3 {
  font-size: 20px;
  margin: 10px auto;
  font-weight: normal;
  max-height: 80px;
  overflow: hidden;
}
@media (max-width: 768px) {
  /* line 163, ../scss/sass/main/_main.scss */
  .section__news__text h3 {
    font-size: 16px;
    max-height: 65px;
  }
}
/* line 174, ../scss/sass/main/_main.scss */
.section__news__text p {
  font-size: 12px;
  max-height: 75px;
  overflow: hidden;
}
@media (max-width: 768px) {
  /* line 174, ../scss/sass/main/_main.scss */
  .section__news__text p {
    display: none;
  }
}
/* line 184, ../scss/sass/main/_main.scss */
.section__news__photo {
  height: 70vh;
  width: 100%;
  color: #fff;
  position: relative;
  margin: 0 auto !important;
}
/* line 196, ../scss/sass/main/_main.scss */
.section__news__detail {
  padding: 50px 0;
}
@media (max-width: 768px) {
  /* line 196, ../scss/sass/main/_main.scss */
  .section__news__detail {
    padding: 10px 0;
  }
}
/* line 203, ../scss/sass/main/_main.scss */
.section__news__detail__title {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0;
}
/* line 216, ../scss/sass/main/_main.scss */
.section__news__detail__title__page {
  padding: 10px 50px 40px 50px;
  text-align: center;
}
@media (max-width: 768px) {
  /* line 216, ../scss/sass/main/_main.scss */
  .section__news__detail__title__page {
    padding: 5px;
    margin-bottom: 30px;
  }
}
/* line 224, ../scss/sass/main/_main.scss */
.section__news__detail__title__page h3 {
  font-size: 32px;
  font-weight: 300;
}
@media (max-width: 768px) {
  /* line 224, ../scss/sass/main/_main.scss */
  .section__news__detail__title__page h3 {
    font-size: 30px;
  }
}
/* line 233, ../scss/sass/main/_main.scss */
.section__news__detail__title .title__inner {
  margin: 0 auto;
}
/* line 236, ../scss/sass/main/_main.scss */
.section__news__detail__title .title__inner h2 {
  font-size: 50px;
  font-weight: normal;
  letter-spacing: 10px;
}
/* line 242, ../scss/sass/main/_main.scss */
.section__news__detail__title .title__inner p {
  font-size: 18px;
}
/* line 249, ../scss/sass/main/_main.scss */
.section__news__detail .container {
  max-width: 800px;
  color: #000;
}
/* line 255, ../scss/sass/main/_main.scss */
.section__news__titleorder {
  text-align: center;
  color: #000;
  margin: 20px auto;
}
/* line 260, ../scss/sass/main/_main.scss */
.section__news__titleorder h3 {
  font-weight: normal;
  font-size: 30px;
}
/* line 266, ../scss/sass/main/_main.scss */
.section__news__bottom {
  padding-top: 0;
}
/* line 271, ../scss/sass/main/_main.scss */
.section__feature {
  display: flex;
  padding: 0;
  max-height: 450px;
  position: relative;
}
@media (max-width: 768px) {
  /* line 271, ../scss/sass/main/_main.scss */
  .section__feature {
    display: block;
    max-height: none;
    margin: 20px 0;
    text-align: center;
  }
}
/* line 284, ../scss/sass/main/_main.scss */
.section__feature .container {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0 auto;
  right: 0;
  display: flex;
  align-items: center;
  color: #000;
  height: 100%;
}
@media (max-width: 768px) {
  /* line 284, ../scss/sass/main/_main.scss */
  .section__feature .container {
    position: relative;
  }
}
/* line 300, ../scss/sass/main/_main.scss */
.section__feature__left {
  background: #f0eeee;
  width: 48%;
}
@media (max-width: 768px) {
  /* line 300, ../scss/sass/main/_main.scss */
  .section__feature__left {
    width: 100%;
  }
}
/* line 308, ../scss/sass/main/_main.scss */
.section__feature__left__inner {
  color: #000;
  width: 420px;
}
/* line 312, ../scss/sass/main/_main.scss */
.section__feature__left__inner h3 {
  font-size: 30px;
  text-transform: uppercase;
  max-height: 115px;
  overflow: hidden;
}
/* line 318, ../scss/sass/main/_main.scss */
.section__feature__left__inner p {
  font-size: 14px;
}
/* line 322, ../scss/sass/main/_main.scss */
.section__feature__left h3 {
  text-transform: uppercase;
}
/* line 325, ../scss/sass/main/_main.scss */
.section__feature__left p {
  font-size: 12px;
}
/* line 330, ../scss/sass/main/_main.scss */
.section__feature__right {
  width: 53%;
}
@media (max-width: 768px) {
  /* line 330, ../scss/sass/main/_main.scss */
  .section__feature__right {
    width: 100%;
  }
}

/* line 345, ../scss/sass/main/_main.scss */
.photo {
  width: 100%;
  margin: 15px auto;
}

/* line 354, ../scss/sass/main/_main.scss */
.video {
  height: 450px;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: -50vw;
  margin-right: -50vw;
}
@media (max-width: 768px) {
  /* line 354, ../scss/sass/main/_main.scss */
  .video {
    height: 300px;
  }
}

@font-face {
  font-family: 'COCOGOOSE_DemiBold';
  src: url("COCOGOOSE_DemiBold.eot");
  src: url("../fonts/COCOGOOSE_DemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/COCOGOOSE_DemiBold.woff2") format("woff2"), url("../fonts/COCOGOOSE_DemiBold.woff") format("woff"), url("../fonts/COCOGOOSE_DemiBold.svg#GothamBook") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}
@font-face {
  font-family: 'GothamBold';
  src: url("../fonts/GothamBold.eot");
  src: url("../fonts/GothamBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamBold.woff2") format("woff2"), url("../fonts/GothamBold.woff") format("woff"), url("../fonts/GothamBold.svg#GothamBold") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}
/* line 25, ../scss/sass/main/_fontface.scss */
.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 50, ../scss/sass/main/_fontface.scss */
.icon-calendar2:before {
  content: "\f068";
}

/* line 53, ../scss/sass/main/_fontface.scss */
.icon-location2:before {
  content: "\f060";
}

/* line 56, ../scss/sass/main/_fontface.scss */
.icon-envelope:before {
  content: "\e903";
}

/* line 59, ../scss/sass/main/_fontface.scss */
.icon-search2:before {
  content: "\e902";
}

/* line 62, ../scss/sass/main/_fontface.scss */
.icon-image:before {
  content: "\e90d";
}

/* line 65, ../scss/sass/main/_fontface.scss */
.icon-location:before {
  content: "\e947";
}

/* line 68, ../scss/sass/main/_fontface.scss */
.icon-calendar:before {
  content: "\e953";
}

/* line 71, ../scss/sass/main/_fontface.scss */
.icon-printer:before {
  content: "\e954";
}

/* line 74, ../scss/sass/main/_fontface.scss */
.icon-user:before {
  content: "\e971";
}

/* line 77, ../scss/sass/main/_fontface.scss */
.icon-search:before {
  content: "\e986";
}

/* line 80, ../scss/sass/main/_fontface.scss */
.icon-airplane:before {
  content: "\e9af";
}

/* line 83, ../scss/sass/main/_fontface.scss */
.icon-bookmark:before {
  content: "\e9d2";
}

/* line 86, ../scss/sass/main/_fontface.scss */
.icon-star-empty:before {
  content: "\e9d7";
}

/* line 89, ../scss/sass/main/_fontface.scss */
.icon-star-full:before {
  content: "\e9d9";
}

/* line 92, ../scss/sass/main/_fontface.scss */
.icon-plus:before {
  content: "\ea0a";
}

/* line 95, ../scss/sass/main/_fontface.scss */
.icon-minus:before {
  content: "\ea0b";
}

/* line 98, ../scss/sass/main/_fontface.scss */
.icon-info:before {
  content: "\ea0c";
}

/* line 101, ../scss/sass/main/_fontface.scss */
.icon-cancel-circle:before {
  content: "\ea0d";
}

/* line 104, ../scss/sass/main/_fontface.scss */
.icon-cross:before {
  content: "\ea0f";
}

/* line 107, ../scss/sass/main/_fontface.scss */
.icon-checkmark:before {
  content: "\ea10";
}

/* line 110, ../scss/sass/main/_fontface.scss */
.icon-circle-right:before {
  content: "\ea42";
}

/* line 113, ../scss/sass/main/_fontface.scss */
.icon-circle-left:before {
  content: "\ea44";
}

/* line 116, ../scss/sass/main/_fontface.scss */
.icon-google-plus:before {
  content: "\ea8b";
}

/* line 119, ../scss/sass/main/_fontface.scss */
.icon-facebook:before {
  content: "\ea90";
}

/* line 122, ../scss/sass/main/_fontface.scss */
.icon-instagram:before {
  content: "\ea92";
}

/* line 125, ../scss/sass/main/_fontface.scss */
.icon-whatsapp:before {
  content: "\ea93";
}

/* line 128, ../scss/sass/main/_fontface.scss */
.icon-twitter:before {
  content: "\ea96";
}

/* line 131, ../scss/sass/main/_fontface.scss */
.icon-home:before {
  content: "\e900";
}

/* line 134, ../scss/sass/main/_fontface.scss */
.icon-compare_arrows:before {
  content: "\e901";
}

/* line 1, ../scss/sass/main/_footer.scss */
.footer {
  background: #181818;
  width: 100%;
  padding: 50px 0;
  text-align: center;
}
/* line 7, ../scss/sass/main/_footer.scss */
.footer__contact {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
/* line 8, ../scss/sass/main/_footer.scss */
.footer__contact img {
  width: 30px;
}
/* line 15, ../scss/sass/main/_footer.scss */
.footer p {
  font-size: 12px;
  width: 70%;
  margin: 30px auto;
}
/* line 25, ../scss/sass/main/_footer.scss */
.footer ul li img {
  width: 30px;
}
